.avatar {
  width: 107px;
  height: 107px;
  object-fit: contain;
  mix-blend-mode: luminosity;
  border: 11px solid;
  border-radius: 54px;
  border-color: var(--yellow);
}

.menu {
  height: 470px;
  color: var(--pale-blue);
  overflow-y: auto;
}
.menu-active {
  color: var(--black);
  .active-img {
    transform: rotate(90deg);
  }
}
.sub-menu {
  border-left: 3px solid var(--gray-shade-1);
}
.sub-menu-active {
  border-left: 3px solid var(--black);
}

/* Footer Section */
.behance-logo {
  height: 20px;
  width: 20px;
}

.linkedin-logo {
  height: 15px;
  width: 15px;
}

.footer {
  color: var(--gray-shade-3);
}
