@tailwind base;
@tailwind utilities;
@import url("https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,400;0,700;1,900;1,400&display=swap");
:root {
  --gray-shade-1: #eef3f9;
  --gray-shade-2: #d2ddec;
  --gray-shade-3: #a6b6cc;
  --gray-shade-4: #8092ab;
  --brown: #707070;
  --black: #21272f;
  --pale-blue: #405471;
  --yellow: #fbc531;
}
html,
body {
  padding: 0;
  margin: 0;
  font-family: "Lato", sans-serif;
  position: relative;
  width: 100%;
  height: 100vh;
  font-size: 14px;
}

#side-bar {
  flex: 0 0 22%;
  background-color: #f8f8f8;
}
#main-page {
  flex: 1;
}
/* bg utility */
.bg-yellow {
  background-color: #f8e837;
}
/* font utility */
.font-16 {
  font-size: 16px;
  font-weight: 300;
}
.font-20 {
  font-size: 20px;
  font-weight: 300;
}
.font-30 {
  font-size: 30px;
  font-weight: 900;
}
.font-40 {
  font-size: 40px;
  font-weight: 900;
}
.font-28 {
  font-size: 28px;
  font-weight: bold;
}
.font-22 {
  font-size: 22px;
  font-weight: bold;
}

/* component */
.image-card {
  width: 306px;
  height: 320px;
  border: 0.5px solid #7d91ae;
  padding: 20px 30px;
  border-radius: 8px;
  background-color: #fff;
}
.image-card .image-contanier {
  flex: 0 0 70%;
  position: relative;
}
.image-card p {
  color: var(--black);
  flex: 0 0 25%;
  font-size: 16px;
  font-weight: 500;
}
#thank-you {
  background-color: var(--gray-shade-1);
  margin-bottom: 0;
}
#thank-you > div {
  height: 122px;
}
#thank-you .thankyou-text {
  color: var(--pale-blue);
}

/* section */

#home {
  background: url(../public//home/home_bg.webp) no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
#mobile-stamp {
  color: var(--black);
}
#mobile-stamp section {
  margin-bottom: 40px;
}
#mobile-stamp p,
#mobile-stamp li {
  font-size: 20px;
}
#mobile-stamp li {
  list-style-type: disc;
}

#hotel-app section {
  margin-bottom: 3rem;
}
#hotel-app .image-wrapper {
  flex: 0 0 49%;
  height: 363px;
  margin-bottom: 0.625rem;
  padding: 0.0625rem;
}
