@tailwind base;
@tailwind utilities;
:root {
  --gray-shade-1: #eef3f9;
  --gray-shade-2: #d2ddec;
  --gray-shade-3: #a6b6cc;
  --gray-shade-4: #8092ab;
  --brown: #707070;
  --black: #21272f;
  --pale-blue: #405471;
  --yellow: #fbc531;
}
html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  position: relative;
  width: 100%;
  height: 100vh;
  font-size: 14px;
}

#side-bar {
  flex: 0 0 22%;
  background-color: rgb(219 235 253 / 8%);
}
#main-page {
  flex: 1;
}
